@charset 'utf-8';

// 默认用色
$defultColor:#2797e3;
$defultActiveColor:#0086db;
// 默认背景色
$defultBgColor:#0a101d;
$danger:#F56C6C;
$success:#67C23A;
$warning:#E6A23C;
$info: #909399;
$orange: #FF9900;
$vw-content-item-bgColor:rgba(38,79,109,.1);

// 默认字体
$defultFontColor:white;
// 字体描边颜色
$fontShadowColor:#0782d6;
$enTitleColor:#2797e3;
$infoColor:#add0d9;
$itemColor:#2797e3;
$spFontColor:#85ceff;

$infoFontColor:#85ceff;
$etColor:#53c2fe;
$et2Color:#efc523;

// 边线背景色
$borderColor:#74ddfc;
$infoBDColor:#1f5076;


// 一般弹窗类背景色
$initSystemColorDefaults:#f5f6f7;

$login_from_bg:white;
// input bg
$input-fs-bg:#f2f4f5;

// 滚动条颜色
$scrollbarColor:rgba(0, 0, 0, .2);

// 导航边色
$header-boder-color:rgba(255,255,255,.2);
// 导航字体颜色
$header-color:white;
