@import "./common.scss";

// 数字字体
@font-face {
	font-family: "ULED";
	src: url('~@/assets/font/UnidreamLED.ttf');
	font-weight: normal;
	font-style: normal;
}
.text-box-shadow {
    // text-shadow:-2px 0 $fontShadowColor,
    // 0 1px $fontShadowColor,
    // 2px 0 $fontShadowColor,
    // 0 -1px $fontShadowColor;
    
    text-shadow:0 0 0.2em $fontShadowColor,
                -0 -0 0.2em $fontShadowColor;
}
.Content {
    .br-t {
        padding-bottom: 20px !important;
        border-bottom: 1px solid #0c3c66;
    }
    .vw-Content-item {
        padding: $defult_pd;
        position: relative;
        //margin-bottom: 20px;
        &::after {
            //$Divider
            position: absolute;
            right: 15px;
            left: 15px;
            bottom: 0;
            content: "";
            width: calc(100% - 30px);
            height: 26px;
            @extend .cover;
            background-image: $Divider;
        }
        &:last-child {
            margin-bottom:0;
            &::after {
                background-image:none
            }
        }
        .title {
            position: relative;
            @extend .font-space;
            &::after {
                position: absolute;
                right: 0;
                bottom: 5px;
                content: "";
                width: 26px;
                height: 11px;
                @extend .cover;
                background-image: $Home_Title_After_Bg;
            }
            //border-image: linear-gradient(rgba(155,194,221,0), #264f6d) 30 30 30 30;
            .vw-tiile {
                background-image: $Home_Vw_Tiile_Bg;
                padding: 2px 25px;
                @extend .cover;
                .font {
                    font-size: $defult_font_size;
                    position: relative;
                    background: linear-gradient(to top, #2dcbff, $defultFontColor);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
            }
            .vw-en {
                font-size: $small_font_size;
                margin-left: -$small_font_size;
                margin-top: 1px;
                color: $enTitleColor;
            }
        }
        .conter {
            padding-top: 20px;
            .small-title {
                color:$infoFontColor;
                font-size: $defult_font_size;
                text-shadow:0 1px 20px $fontShadowColor;
            }
            .flip-number {
                font-family: "ULED";
                font-size: 36px;
                //background: #25334b;
                text-align: center;
                width: 30px;
                padding: 0;
                margin-right: 8px;
                border-radius: 10px;
                margin-bottom: -2px;
            }
            .numberFromBox {
                margin-top: 20px;
                .numberFrom{
                    color: #91deff;
                    font-size: $huge_font_size;
                }
                .iconFrom {
                    width: 18px;
                    height: 27px;
                }

            }
            .sp-small-title {
                padding: 2px 15px;
                color:$spFontColor;
                font-size: $small_font_size;
                position: relative;
                height: 40px;
                &::after {
                    position: absolute;
                    left: -13px;
                    bottom: 0;
                    content: "";
                    width: 110%;
                    height: 14px;
                    @extend .cover;
                    background-image: $Home_Vw_Sp_Tiile_Bg;
                }
            }
            .echarts-box {
                padding-top: 20px;
                .echarts {
                    height: calc(100% - 30px);
                }
            }
            .numberGradient {
                font-size: $numberGradient_font_size;
                position: relative;
                background: linear-gradient(to top, #f1e362, #dcae4f);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
            .unit {
                color:$infoColor;
                font-size: $defult_font_size;
            }
            .tableBg {
            }
            .bd-list {
                padding-left: 38px;
                border-left: 1px solid $borderColor;
                &:first-child {
                    padding-left: 0;
                    border-left: none;
                }
            }
            .Vu-echart {
                height: 480px;
                width:100%;
            }
            .Ec {
                .Ent_Ec {
                    height: 130px;
                }
                .Ec-list {
                    height: 130px;
                    .nobd {border-left:none !important;}
                    .list {
                        margin: 20px 0;
                        padding-left: 38px;
                        border-left: 1px solid $borderColor;
                    }
                }
            }
            .Nt-list {
                .bd-l-r {
                    padding: 0 40px;
                    margin-bottom: 15px;
                    border-left: 1px solid $borderColor;
                    border-right: 1px solid $borderColor;
                    height: 130px;
                }
                .ec {
                    width: 100%;
                    height: 130px;
                }
                @include GET_NT_MG();
                .Nt_Img {
                    width: 120px;
                    height: 120px;
                    @extend .cover;
                }
                .nt_number {
                    font-size: 22px;
                    height: 40px;
                    line-height: 40px;
                    margin-top: 5px;
                    .flip-number {
                        border-radius: 0;
                        @extend .cover;
                        background-image: $Nubmer_Bg;
                    }
                }
                .nt_number_chain {
                    font-size: 22px;
                    margin-top: 5px;
                    padding-right: 80px;
                    .number {
                        font-size: 26px;
                        color:$et2Color;
                        position: relative;
                        &::after {
                            position: absolute;
                            right: -30px;
                            bottom: 0;
                            content: "";
                            width: 18px;
                            height: 26px;
                            @extend .cover;
                        }
                        &.top {
                            &::after {
                                background-image: $Nt_Top;
                            }
                        }
                        &.bottom {
                            &::after {
                                background-image: $Nt_Bottom;
                            }
                        }
                    }
                }
            }
            .Et-list {
                margin: 15px 0;
                .small-title {
                    margin-top: 15px;
                }
                .et {
                    font-size: $defult_font_size;
                    color:$etColor;
                    width: 140px;
                    height: 156px;
                    margin: auto;
                    position: relative;
                    &::after {
                        position: absolute;
                        left: 20%;
                        right: 20%;
                        bottom: 5px;
                        content: "";
                        width: 70px;
                        height: 10px;
                        @extend .cover;
                        background-image: $Et_Bottom;
                    }
                    &.et2 {
                        color:$et2Color;
                        .font {
                            &::after {
                                content: "";
                                background-image: $Et_Font_Bg_Yellow;
                            }
                        }
                    }
                    .font {
                        width: 120px;
                        height: 120px;
                        line-height: 120px;
                        text-align: center;
                        position: relative;
                        @extend .cover;
                        background-image: $Et_Inner;
                        margin: auto;
                        &::before {
                            position: absolute;
                            left: -10px;
                            bottom: -10px;
                            content: "";
                            width: 140px;
                            height: 140px;
                            @extend .cover;
                            background-image: $Et_Outer;
                        }
                        &::after {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 6px;
                            content: "";
                            width: 116px;
                            height: 140px;
                            @extend .cover;
                            background-image: $Et_Font_Bg_Blue;
                        }
                    }
                }
            }
        }
    }
}