#floatWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#nav {
    width: 100%;
    height: 6%;
    background: url(../images/img/nav.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 2px;
    margin-top: 10px;
}

#time{
    width: 40%;
    height: 100%;
    font-size: 12px;
    position: absolute;
    left: 1%;
    top: 2.5%;
    color: #75b0ff;
    letter-spacing: 1px;
}

#nav h2 {
    font-size: 28px;
    letter-spacing: 12px;
    color: #0ed0c9;
    text-align: center;
    font-weight: 500;
}

#mainWrap {
    width: 100%;
    height: 92%;
    position: relative;
    background: url(../images/img/蒙层.png) no-repeat;
    background-size: 100% 100%;
}

#leftSide {
    width: 25%;
    height: 98%;
    background: url(../images/img/left边框.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 1%;
    padding: 15px;
}

#leftSide .dataBlock ,#rightSide .dataBlock{
    width: 100%;
    height: 32%;
    padding: 5px;
    margin-top: 6px;
}


#rightSide {
    width: 25%;
    height: 98%;
    background: url(../images/img/right边框.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 1%;
}

#leftSide .dataBlock .blockTitle, #rightSide .dataBlock .blockTitle {
    width: 50%;
    height: 12%;
    padding: 1% 0;
    background: url(../images/img/title.png) no-repeat;
    background-size: 100% 100%;
}

.blockTitle h4 {
    font-size: 12px;
    color: #348be1;
    margin-left: 25px;
    letter-spacing: 2px;
    font-weight: 500;
}

#layerCheckBox {
    display: block;
    position: absolute;
    left: 28%;
    bottom: 3%;
    font-size: 12px;
    pointer-events: initial;
    user-select: none;
}

#layerChecked {
    background: url(../images/边框.png) no-repeat;
    background-size: 100% 100%;
    padding: 15px;
}

#layerCheckBox ul {
    width: 100%;
    height: 100%;
}

#layerCheckBox ul li {
    width: 100%;
    height: 24px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

#layerCheckBox ul li label {
    cursor: pointer;
}

input[type='checkbox'] {
    width: 14px;
    height: 14px;
    background: url("../images/未选中.png") no-repeat center;
    background-size: 100% 100%;
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    /*border: 1px solid #fff;*/
    position: relative;
    top: 5px;
    outline: none;
    cursor: pointer;
}

input[type=checkbox]:checked {
    background: url("../images/选中.png") no-repeat center;
    background-size: 100% 100%;
}

input[type=checkbox]:focus {
    outline: none;
}
