#WitBuilding {
    .left {
        display: flex;
        flex-direction: column;
        >div {
            width: 100%;
        }
        .ComStatistics {
            flex: 1;
        }
        .PartyStatistics {
            flex: 2.5;
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        >div {
            width: 100%;
        }
        .Carousel {
            flex: 2.5;
        }
        .foundparty{
            flex: 1;
        }
    }
}
