@charset "UTF-8";

.home-left {
  width: 22.135vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0.781vw;
  pointer-events: visible;
}

/* 动画，顺时针，逆时针 */
@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveDown {
  0% {
    top: -100%;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 100%;
  }
}

@keyframes moveTop {
  0% {
    bottom: -100%;
  }

  50% {
    bottom: 50%;
  }

  100% {
    bottom: 100%;
  }
}

.left-warn {
  width: 100%;
  height: 10.651vw;
}

.left-crowd {
  width: 100%;
  height: 16.771vw;
}

.left-place {
  width: 100%;
  height: 7.9vw;
}

.left-list {
  width: 100%;
  height: 8vw;
}