.home-right {
  width: 22.135vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0.781vw;
  pointer-events: visible; }

.yellow {
  border-color: #f1e362;
  background: rgba(77, 72, 42, 0.3); }

.blue {
  border-color: #0ea7b8;
  background: rgba(0, 8, 30, 0.8); }

@keyframes topBottom {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-10px); } }

@keyframes topBottom1 {
  0% {
    transform: translateY(10px); }
  50% {
    transform: translateY(0px); }
  100% {
    transform: translateY(10px); } }

.right-total {
  width: 100%;
  height: 13.099vw; }

.right-handle {
  width: 100%;
    height: 12.224vw; }

.right-rate {
  width: 100%;
  height: 7.5vw;}

.right-work {
  width: 100%;
  height: 10.458vw; }

.right-masses {
  width: 100%;
  height: 810px; }
