@charset 'utf-8';
@function GET_Home_IMG($name) {
    @return url("~@/assets/images/Home/"+$name+".png")
}
// 首页背景
    $Home_Header_Bg:GET_Home_IMG("Header");
    $bdr_bg:GET_Home_IMG("bdr_bg");
    $IconTime:GET_Home_IMG("Icon-Time");
// 标题背景
    $Home_Header_Center_Bg:GET_Home_IMG("Bg-Header-samll");
// 小标题右边背景
    $Home_Header_Center_Left_Bg:GET_Home_IMG("dhbg_l");
// 小标题左边背景
    $Home_Header_Center_Right_Bg:GET_Home_IMG("dhbg_r");
// 标题after Bg
    $Home_Title_After_Bg:GET_Home_IMG("Home_Title_After_Bg");
// 文字背景
    $Home_Vw_Tiile_Bg:GET_Home_IMG("Home_Vw_Tiile_Bg");
    $Home_Vw_Sp_Tiile_Bg:GET_Home_IMG("Home_Vw_Sp_Tiile_Bg");
    $Divider:GET_Home_IMG("Divider");
// Et
    $Et_Font_Bg_Blue:GET_Home_IMG("Et_Font_Bg_Blue");
    $Et_Font_Bg_Yellow:GET_Home_IMG("Et_Font_Bg_Yellow");
    $Et_Inner:GET_Home_IMG("Et_Inner");
    $Et_Outer:GET_Home_IMG("Et_Outer");
    $Et_Bottom:GET_Home_IMG("Et_Bottom");
// Nt
    $Nubmer_Bg:GET_Home_IMG("Nubmer_Bg");
    $Nt_Top:GET_Home_IMG("Nt_Top");
    $Nt_Bottom:GET_Home_IMG("Nt_Bottom");
    @mixin GET_NT_MG() {
        @for $i from 1 through 4 {
            .item-Nt-Img-#{$i} {
                background-image:GET_Home_IMG("Nt_"+$i)
            }
        }
    }


    $Warning_bg:GET_Home_IMG("Warning_bg");
    $Dw:GET_Home_IMG("Dw");

    $tableBg:GET_Home_IMG("table");

    $Tabs:GET_Home_IMG("Tabs");
    $tabsActive:GET_Home_IMG("tabsActive");

    $b_l_bg:GET_Home_IMG("b_l_bg");
    $b_r_bg:GET_Home_IMG("b_r_bg");
    $bC:GET_Home_IMG("b-c");
    $nextBg:GET_Home_IMG("next");
    $bcc:GET_Home_IMG("bcc");

    $left_top_bg:GET_Home_IMG("left_top_bg");
    $left_bottom_bg:GET_Home_IMG("left_bottom_bg");
